@font-face {
    font-family: 'iconfont';  /* Project id 3622501 */
    src: url('//at.alicdn.com/t/c/font_3622501_ijby7kybu0p.woff2?t=1662081928218') format('woff2'),
         url('//at.alicdn.com/t/c/font_3622501_ijby7kybu0p.woff?t=1662081928218') format('woff'),
         url('//at.alicdn.com/t/c/font_3622501_ijby7kybu0p.ttf?t=1662081928218') format('truetype');
  }
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: .4rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}